
extends layout

block content
    h1= title
        
        // ADD BRAND
        h2 Add Brand
        #addBrand
            fieldset
                input#inputbId(type='text', placeholder='Brand Id')
                br
                input#inputbName(type='text', placeholder='Brand Name')
                br
                input#inputbCategory(type='text', placeholder='Brand Category')
                br
                input#inputbLogo(type='text', placeholder='Brand Logo')
                br
                button#btnAddBrand Add Brand
        // /ADD BRAND
        
        // BRAND LIST
        h2 Brand List
        #brandList
            table
                thead
                    th Brand Id
                    th Brand Name
                    th Brand Category
                    th Brand Logo
                    th Delete?
                tbody
        // /BRAND LIST

        