
extends layout

block content
    h1= title
        
        // ADD CATEGORY
        h2 Add Category
        #addCategory
            fieldset
                input#inputcId(type='text', placeholder='Category Id')
                br
                input#inputcName(type='text', placeholder='Category Name')
                br
                button#btnAddCategory Add Category
        // /ADD CATEGORY
        
        // CATEGORY LIST
        h2 Category List
        #categoryList
            table
                thead
                    th Category Id
                    th Category Name
                    th Delete?
                tbody
        // /CATEGORY LIST

        