
extends layout

block content
    h1= title
        
        // ADD STORE
        h2 Add Store
        #addStore
            fieldset
                input#inputbId(type='text', placeholder='Brand Id')
                input#inputbName(type='text', placeholder='Brand Name')
                input#inputbCategory(type='text', placeholder='Brand Category')
                br
                input#inputsId(type='text', placeholder='Store Id')
                input#inputsName(type='text', placeholder='Store Name')
                input#inputbDistributor(type='text', placeholder='Distributor')
                br
                input#inputsCity(type='text', placeholder='City')
                input#inputsAddress(type='text', placeholder='Address')
                input#inputsHours(type='text', placeholder='Hours')
                br
                input#inputsAreaCode(type='text', placeholder='Area Code')
                input#inputsTel1(type='text', placeholder='Tel 1')
                input#inputsTel2(type='text', placeholder='Tel 2')
                br
                input#inputsLat(type='text', placeholder='Latitude')
                input#inputsLong(type='text', placeholder='Longitude')
                br
                input#inputsVerified(type='text', placeholder='Verified')
                br
                button#btnAddStore Add Store
        // /ADD STORE
        
        // STORE LIST
        h2 Store List
        #boList
            table
                thead
                    th Brand Id
                    th Brand Name
                    th Brand Category
                    th Store Id
                    th Store Name
                    th Distributor
                    th City
                    th Address
                    th Hours
                    th Area Code
                    th Tel 1
                    th Tel 2
                    th Lat
                    th Long
                    th Verified                    
                    th Delete?
                tbody
        // /STORE LIST

        