
extends layout

block content
    h1= title 
    
       // ADD STORE
        h2 Add Store
        #addUser
            fieldset
                input#inputUserName(type='text', placeholder='Username')
                input#inputUserEmail(type='text', placeholder='Email')
                br
                input#inputUserFullname(type='text', placeholder='Full Name')
                input#inputUserAge(type='text', placeholder='Age')
                br
                input#inputUserLocation(type='text', placeholder='Location')
                input#inputUserGender(type='text', placeholder='gender')
                br
                button#btnAddUser Add User
        // /ADD USER

    // Wrapper
    #wrapper
        // STORE LIST
        h2 Store List
        #userList
            table
                thead
                    th نام برند
                    th نام فروشگاه
                    th گروه
                    th شهر
                    th آدرس
                    th ساعات کار
                    th کدتلفن
                    th تلفن ۱
                    th تلفن ۲
                    th پخش کننده
                    th Latitude
                    th Longitude
                    th حذف?
                tbody
        // /USER LIST
    // /WRAPPER
