
extends layout

block content
    h1= title 
    // Wrapper
    #wrapper
        // USER INFO
        #storeInfo
            h2 Store Info
            p
                strong نام برند:
                |  <span id='userInfoName'></span>
                br
                strong نام فروشگاه:
                |  <span id='userInfoAge'></span>
                br
                strong گروه:
                |  <span id='userInfoName'></span>
                br
                strong شهر:
                |  <span id='userInfoGender'></span>
                br
                strong آدرس:
                |  <span id='userInfoGender'></span>
                br
                strong ساعات کار:
                |  <span id='userInfoGender'></span>
                br
                strong کدتلفن:
                |  <span id='userInfoGender'></span>
                br                
               strong تلفن ۱:
                |  <span id='userInfoGender'></span>
                br                
               strong تلفن ۲:
                |  <span id='userInfoGender'></span>
                br                
               strong پخش کننده:
                |  <span id='userInfoGender'></span>
                br                
                strong Latitude:
                |  <span id='userInfoLocation'></span>
                br
                strong Longitude:
                |  <span id='userInfoLocation'></span>
                
        // /USER INFO

        // STORE LIST
        h2 Store List
        #userList
            table
                thead
                    th نام برند
                    th نام فروشگاه
                    th گروه
                    th شهر
                    th آدرس
                    th ساعات کار
                    th کدتلفن
                    th تلفن ۱
                    th تلفن ۲
                    th پخش کننده
                    th Latitude
                    th Longitude
                    th Delete?
                tbody
        // /USER LIST

        // ADD STORE
        h2 Add Store
        #addUser
            fieldset
                input#inputUserName(type='text', placeholder='Username')
                input#inputUserEmail(type='text', placeholder='Email')
                br
                input#inputUserFullname(type='text', placeholder='Full Name')
                input#inputUserAge(type='text', placeholder='Age')
                br
                input#inputUserLocation(type='text', placeholder='Location')
                input#inputUserGender(type='text', placeholder='gender')
                br
                button#btnAddUser Add User
        // /ADD USER

    // /WRAPPER
