body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#header {
    background-color:#000033;
    color:white;
    text-align:left;
    padding:0px;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#blankSection {
    background-color:white;
    color:white;
    text-align:center;
    padding:5px;	 	 
}

#addSection {
    background-color:gray;
    color:white;
    text-align:center;
    padding:5px;	 	 
}

#tableSection {
    background-color:gray;
    color:white;
    text-align:left;
    padding:5px;
}



h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#wrapper {
	padding-left:312px;
	position:relative;
}

#boList {
	margin:0 0 30px 0;
}
	#boList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		#boList table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#boList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#boList table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}

#userInfo {
	width:250px;
	position:absolute;
	top:0; left:0;
}
	#userInfo p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}

fieldset {
	border:0;
	padding:0; margin:0;
}

